name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Install V
        uses: vlang/setup-v@v1
        with:
          check-latest: true

      - name: Checkout ${{ github.event.repository.name }}
        uses: actions/checkout@v2

      - name: Check if code is formatted
        run: make fmt

      - name: Build ${{ github.event.repository.name }}
        run: make build-prod

      - name: Run Tests
        run: make test-verbose

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: which-terminal-ubuntu
          path: which-terminal*
